.cover__link {
    padding: 245px 312px;
    position: relative;
    text-decoration: none;
    display: block;
    color: inherit;
    z-index: 1;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
}

.cover__link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: 0.3s ease;
}

.cover__link:hover::after {
    opacity: 0.8;
}

@media (max-width: 1152px) {
    .cover__link {
        padding: 195px 232px;
    }
}

@media (max-width: 896px) {
    .cover__link {
        padding: 115px 104px;
    }
}

@media (max-width: 767px) {
    .cover__link {
        padding: 33px 16px;
    }
}